<%- include("header") -%>

<h2>This is the about page</h2>

<p>alksdfghja;ldskfj;aldwfk ja;lskdfj a;sldfkj ;aklfj ;lakw jf;alkf j;alskdjf;alkjfklajwdhflkasj fhlak jhlskf</p>

<%- include("footer") -%>
